<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Dynamics 365 Business Central.</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" type="text/css" href="/DT_BC21_SA_UP/Resources/desktop.css"/>
</head>
<body>
    <div class="ms-nav-minimal-page">
        <div class="ms-nav-minimal-layout">
            <div class="ms-nav-minimal-border">
                <div class="ms-nav-minimal-logo">
                    <img src="Brand/Images/Header.png" />
                </div>
                <div class="ms-nav-minimal-content">
                    

<script>
    if (!navigator.cookieEnabled) location.href = "NotSupported/NoCookies";
</script>
<form method="post" onsubmit="submitButton.disabled = true" action="/DT_BC21_SA_UP/SignIn">
    <input id="returnUrl" name="returnUrl" type="hidden" value="/DT_BC21_SA_UP/?company=Deep Catch Trading (Pty) Ltd&amp;node=00002329-0b83-0000-0c0f-4e00836bd2d2&amp;page=31&amp;dc=0&amp;bookmark=31;GwAAAAJ7/zIANABJAEMARQAwADAAMQAwADA=" />
    <input id="fromView" name="fromView" type="hidden" value="true" />
    <div class="ms-nav-auth-validationtext validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
</ul></div>
    <div class="ms-nav-auth-table-padding">
        <div class="ms-nav-auth-credentialtable">
            <div class="ms-nav-auth-credentialtable-row">
                <div class="ms-nav-auth-credentialtable-row-ul" role="group">
                    <div class="ms-nav-auth-credentialtable-label">
                        <label for="UserName">User name:</label>
                    </div>
                    <div class="ms-nav-auth-credentialtable-textboxholder">
                        <input class="ms-nav-auth-textbox" aria-required="true" autocorrect="off" autocapitalization="off" type="text" data-val="true" data-val-required="User name is required." id="UserName" name="UserName" value="" />
                    </div>
                </div>
            </div>
            <div class="ms-nav-auth-credentialtable-rows-separation"></div>
            <div class="ms-nav-auth-credentialtable-row" role="group">
                <div class="ms-nav-auth-credentialtable-row-ul">
                    <div class="ms-nav-auth-credentialtable-label">
                        <label for="Password">Password:</label>
                    </div>
                    <div class="ms-nav-auth-credentialtable-textboxholder">
                        <input class="ms-nav-auth-textbox" aria-required="true" autocomplete="off" type="password" data-val="true" data-val-required="Password is required." id="Password" name="Password" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ms-nav-auth-button-container">
        <button type="submit" id="submitButton" class="ms-nav-auth-button">Sign In</button>
    </div>
<input name="__RequestVerificationToken" type="hidden" value="CfDJ8I3W3_qnCDpEkI3iSfdkR4JN6kcluoAGoZGGpOgoBO5wji5RMnX0NSqYteDu95r8064dMGWQ5GTIgvR0Fn-5_cIhwcAbvSZM7DfcLSNE5QK0PbVNZlEKO-jz7RLg6T-hHR4T4LpHeybqMNC4cWlJ9YU92a9T8oJEmLurwIpsuHRjJ47H-6Nm1Tqzr37Nu-l0hg" /></form>

                </div>
            </div>
            <div class="signIn-Footer">
                    <span>&#xA9; 2020 Microsoft. All rights reserved.</span>
                    <span class="signin-footer-separator">|</span>
                <a href="https://go.microsoft.com/fwlink/?linkid=2138587">Privacy and Cookies</a>
            </div>
        </div>
    </div>
</body>
</html>
